* {
    margin: 0;
    padding: 0;
}

header{
    border-bottom: 5px solid #f5b5ab;
    background-color: #fef8f4;
    height: 100px;
}

#logo {
    width: 200px;
    margin: 0;
    padding: 0;
    float: left;
}

body {
    place-items: center;
    text-align: center;
}

#login {
    color: #90c4ba;
    color: #f7d785;
    font-size: 1.5em;
    padding: 5px 10px;
    background-color: #a5be8a;
    border: 2px solid #a5be8a;
    text-decoration: none;
    margin: 20px 20px;
    float: right;
}

nav { 
    background: #90c4ba;
    border-bottom: 5px solid #f5b5ab;
    font-size: 20px;
    padding: 5px 0px;
    margin: auto;
}

nav a {
    color: #f7d785;
    position: relative;
    text-decoration: none;
}

nav li {
    list-style-type: none;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
    padding: 0;
    place-items: center;
}

#journalbt {
    text-decoration: none;
    border: solid 1px #f5b5ab;
    border-radius: 3px;
    padding: 5px;
    color: #f7d785;
    background: #90c4ba;
}

footer {
    border-top: 5px solid #f5b5ab;
    
}

#footerwrapper {
    padding: 0px 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: 300px;
    margin: auto;
}

footer a {
    color: #f7d785;
    text-decoration: none;
}